body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    font-size: 16px;
    color: black;
}

.section_productos{
    display: flex;
}

.navlink-dark {
    color:rgb(53, 40, 27);
    background-color:rgb(252, 135, 188);
   
    
}

.navlink-dark:hover {
    color:rgb(39, 29, 19);
    background-color: #e63946;
}

.navlink-light{
    color:rgb(252, 135, 188);
}

.navlink-light:hover{
    color:rgb(252, 45, 138);
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

