*{
    font-family: 'Oswald', sans-serif;
}
html{
    font-size: 62.5%;   
}
body{
    font-size: 1.7rem;
}
h1{
    font-size: 4rem;
    font-weight: 700;
}
h2{
    font-size: 3.8rem;
}
h5{
    font-size: 3rem;
}
.btn{
    font-size: 1.8rem;
}
p{
    font-size: 1.8rem;
}
